<div class="row">
    <div class="col s12">
        <a class="waves-effect waves-light btn" onclick="SendLetter('page1')">MANUAL SEND 1</a>
        <a class="waves-effect waves-light btn" onclick="SendLetter('page2')">MANUAL SEND 2</a>
        <a class="waves-effect waves-light btn" onclick="SendLetter('all')">MANUAL SEND ALL</a>
    </div>
</div>