    <div class="row">
        <div class="col s12">
            <a class="waves-effect waves-light btn" onclick="GetPreview('news')">NEWS</a>
            <a class="waves-effect waves-light btn" onclick="GetPreview('melon')">MELON</a>
            <a class="waves-effect waves-light btn" onclick="GetPreview('exchange')">EXCHANGE</a>
            <v-spacer></v-spacer>
            <a class="waves-effect waves-light btn" onclick="GetPreview('letter1')">letter1</a>
            <a class="waves-effect waves-light btn" onclick="GetPreview('letter2')">letter2</a>
        </div>
        <div class="col s12">
            <div class="card-panel">
                <p v-for="line in content.split('\n')">{{line}}</p>
            </div>
        </div>
    </div>